<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">		<title>Timbr</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/index.js"></script>
		<script src="/public/js/createAccount.js"></script>
		<script src="/public/js/login.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/index.js"></script>
	</head>
	<body>
        <div class="container">
		    {{{ body }}}
        </div>
	</body>
</html>
