	{{!-- <div class="align">
		<img class="logo" src="/views/img/logo.png">
		<div class="card">
			<div class="head">
				<div></div>
				<a id="login" class="selected" href="#login">Login</a>
				<a id="register" href="#register"></a>
				<div></div>
			</div>
			<div class="tabs">
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Username" type="text">
							<img src="img/user.svg">
						</div>
						<div class="input">
							<input placeholder="Password" type="password">
							<img src="img/pass.svg">
						</div>
						<label class="checkbox">
							<input type="checkbox">
							<span>Remember me</span>
						</label>
					</div>
					<button>Login</button>
				</form>
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Email" type="text">
							<img src="img/mail.svg">
						</div>
						<div class="input">
							<input placeholder="Username" type="text">
							<img src="img/user.svg">
						</div>
						<div class="input">
							<input placeholder="Password" type="password">
							<img src="img/pass.svg">
						</div>
					</div>
					<button onclick=""document.location ""= '/survey/survey.html' ">Register</button>
				</form>
			</div>
		</div>
	</div> --}}


	<h1>header</h1>

	<img src="logo.png" alt="logo">